footer {
    display: flex;
    justify-content: center;
    background-color: black;
    color: white;
    padding: 20px;
    text-align: center;
    width: 100%;
  };
  

  a {
    color: inherit; /* Hereda el color del texto del elemento padre */
    text-decoration: none; /* Elimina el subrayado */
  }
  