.match {
    display: flex;
    margin-top: 5px;
    border-radius: 4px;

}

.game {

    margin-top: 10px;

}

.game.win .match {
    background-color: #202b5f;
}

.game.win .match:hover {
    background-color: #1d224b;

}

.game.loss .match {
    background-color: #3b233b;
}

.game.loss .match:hover {
    background-color: #311f3a;
}



.game.loss .showMatch button:hover {
    background-color: #38223a;
}

.game.win .matchInfo:hover+.showMatch button {
    background-color: #24295c;
}

.game.loss .matchInfo:hover+.showMatch button {
    background-color: #38223a;
}


.game.loss .showMatch button:hover {
    background-color: #38223a;
}

.showMatch button:hover {
    background-color: #24295c;
}

.matchInfo {
    display: grid;
    list-style: none;
    gap: 10px;
    padding-right: 30px;
    padding-bottom: 10px;
    padding-top: 10px;
    width: 100%;
    grid-template-columns: 100px 100px 100px 80px repeat(2, minmax(100px, 1fr));

    justify-items: center;
    align-items: center;
    justify-content: center;

}

.showMatch button {
    height: 100%;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    background-color: #2c367a;
}



.game.loss .showMatch button {
    background-color: #4d283e;
}



.summoner {
    display: flex;
    align-items: center;
}

.queueType {
    color: #fff;
    text-align: center;
    font-family: Inter;
    font-size: 11px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.elapsedTime {
    color: #cddcfe;
    text-align: center;
    font-family: Inter;
    font-size: 10px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.gameResult {
    font-size: 12px;
    font-weight: 700;
    margin-right: 3px;
}

.gameResult.win {
    color: #3273fa;
}

.gameResult.loss {
    color: #ff4e50;
}

.gameDuration {
    font-size: 12px;
    font-weight: 500;
    color: #cddcfe;
}

.summonerChamp,
.summonerSpells {
    margin-left: 5px;
    margin-right: 5px;
}

.summonerRunes {
    padding-left: 4px;
    padding-right: 4px;
    padding-bottom: 4px;
    border-radius: 4px;
}

.summonerChamp {
    position: relative;
    width: 55px;
    height: 55px;
}

.summonerChamp.win img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    border-style: solid;
    border-width: 2px;
    border-color: #3273fa;

}

.summonerChamp.loss img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    border-style: solid;
    border-width: 2px;
    border-color: #ff4e50;

}

.summonerChamp.win .summonerChampLevel {
    position: absolute;
    width: 23px;
    height: 23px;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    bottom: 0;
    right: 0;
    border-radius: 50%;
    border-style: solid;
    border-width: 1px;
    text-align: center;
    background-color: rgb(32, 45, 55);
    color: rgb(255, 255, 255);
    border-color: #3273fa;

}

.summonerChamp.loss .summonerChampLevel {
    position: absolute;
    width: 23px;
    height: 23px;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    bottom: 0;
    right: 0;
    border-radius: 50%;
    border-style: solid;
    border-width: 1px;
    text-align: center;
    background-color: rgb(32, 45, 55);
    color: rgb(255, 255, 255);
    border-color: #ff4e50;

}

.game.win .kda {
    color: #2a489c;
}

.game.loss .kda {
    color: #53263e;
}

.kda span {
    font-size: 14px;
    font-weight: 700;
    line-height: 17px;
    white-space: nowrap;
    margin-left: 3px;
    margin-right: 3px;
}

.kills {
    color: #3CBC8D;
}

.deaths {
    color: #E9422E;
}

.assists {
    color: #FAC552;
}

.cs {
    margin-top: 6px;
    line-height: 13px;
    font-size: 11px;
    color: #cddcfe;
    font-weight: 400;
}

.kdaSummary {
    margin-top: 6px;
    line-height: 13px;
    font-size: 11px;
    font-weight: 700;
}

.visionScore {
    padding: 4px 0 0;
    font-size: 11px;
    font-weight: 400;
    color: #cddcfe;
}

.killParticipation {
    font-size: 15px;
    font-weight: 700;
    line-height: 17px;
    white-space: nowrap;
}

.champ {
    position: relative;
    width: 35px;
    height: 35px;
}

.champ img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    border-style: solid;
    border-width: 1px;
    border-color: #f2bf43;

}

.champLevel {
    position: absolute;
    width: 13px;
    height: 13px;
    align-items: center;
    justify-content: center;
    font-size: 8px;
    bottom: 0;
    right: 0;
    border-radius: 50%;
    border-style: solid;
    border-width: 1px;
    text-align: center;
    background-color: rgb(32, 45, 55);
    color: rgb(255, 255, 255);
    border-color: #f2bf43;

}


.summonerItems {

    display: grid;
    gap: 3px;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    grid-template-areas:
        "item-0 item-1 item-2 item-6"
        "item-3 item-4 item-5 item-6";
    width: 170px;

}

.summonerSpells div img,
.summonerItems div img,
.summonerItems div {
    border-radius: 4px
}

.game.win .summonerItems .noItem,
.game.win .summonerRunes {
    background-color: #223b80;
}

.game.loss .summonerItems .noItem,
.game.loss .summonerRunes {
    background-color: #53263e;
}

.game.win .team2 .summonerRunes {
    background-color: #53263e;
}

.game.loss .team2 .summonerRunes {
    background-color: #223b80;
}


.vsIcon {
    letter-spacing: 0.025rem;
    color: #B3B4D0;
    text-align: center;
    width: 16px;
    height: 16px;
    margin-right: 4px;
    margin-left: 4px;
    font-weight: bold;
}

.summonersList {
    font-size: 14px;

    display: grid;
    gap: 1px;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    grid-template-areas:
        "item-0 toplane item-5"
        "item-1 jungle item-6"
        "item-2 midlane item-7"
        "item-3 botlane item-8"
        "item-4 support item-9";
    width: 13rem;


}

.summonersListSpecial {
    font-size: 14px;

    display: grid;
    gap: 1px;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    grid-template-areas:
        "item-0 vsIcon item-5"
        "item-1 vsIcon item-6"
        "item-2 vsIcon item-7"
        "item-3 vsIcon item-8"
        "item-4 vsIcon item-9";
    width: 13rem;


}

.summonersList div,
.summonersListSpecial div {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    margin-top: -4px;
    min-height: 24px;
}

.summonersList a,
.summonersListSpecial a {
    all: unset;
    width: 40px;
    font-size: 10px;

    max-width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin: 0;
}

.summonerName a:hover,
.summonersList a:hover,
.summonersListSpecial a:hover {
    text-decoration: underline;
    cursor: pointer;
}

.summonerName a {
    all: unset;
}


.teamId100 {
    text-align: right;
    margin-right: 4px !important;
}

.teamId200 {
    text-align: left;
    margin-left: 4px !important;
}

.topIcon,
.jungleIcon,
.midIcon,
.botIcon,
.supIcon {
    margin-right: 4px;
    margin-left: 4px;
}


.summonersList div,
.summonersListSpecial div {
    display: flex;
}

.summonersList img,
.summonersListSpecial img {
    object-fit: cover;
    border-radius: 50%;
    border-style: solid;
    border-width: 1px;
    color: #f2bf43;

}

.gameInfo .row-header {
    display: grid;
    grid-template-columns: 32% 7% 22% 5% 17% 12%;
    padding: 18px 12px 8px;
    color: #cddcfe;
    font-size: 12px;
    font-weight: 400;
    text-align: center;
    background-color: #1a1836;
}


.participant {
    padding: 10px;
    display: grid;
    list-style: none;
    gap: 10px;
    width: 100%;
    grid-template-columns: repeat(4, minmax(80px, 1fr)) 7% 13% 17% !important;

    justify-items: center;
    align-items: center;
    justify-content: center;


}

.game.win .participant.team1 {
    background-color: #212653;
}

.game.win .participant.team2 {
    background-color: #2f1f38;
}

.game.loss .participant.team1 {
    background-color: #2f1f38;
}

.game.loss .participant.team2 {
    background-color: #212653;
}

.game.win .gameInfo .team1 .status-label {
    font-size: 14px;
    color: #3273fa;
    font-weight: 700;
}

.game.win .gameInfo .team2 .status-label {
    font-size: 14px;
    color: #ff4e50;
    font-weight: 700;
}

.game.loss .gameInfo .team1 .status-label {
    font-size: 14px;
    color: #ff4e50;
    font-weight: 700;
}

.game.loss .gameInfo .team2 .status-label {
    font-size: 14px;
    color: #3273fa;
    font-weight: 700;
}

.game.loss .gameInfo .team1 .DMG {
    background-color: #ff4e50;
}

.game.win .gameInfo .team2 .DMG {
    background-color: #ff4e50;
}


.gameInfo .row-header {
    color: #cddcfe;
    font-size: 12px;
    font-weight: 400;
    text-align: center;
}





.gameInfo .team1 .kda,
.gameInfo .team2 .kda {

    color: #cddcfe;
    text-align: center;
    font-family: Inter;
    font-size: 11px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

}

.team1 .kda span,
.team2 .kda span {
    margin-top: 6px;
    line-height: 13px;
    font-size: 11px;
    color: #cddcfe;
    font-weight: 400;
}


.game.win .participant.team1.summoner {
    background-color: #2c387e;
}

.game.loss .participant.team1.summoner {
    background-color: #4d283e;
}

.items {
    display: grid;
    gap: 3px;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    grid-template-areas:
        "item-0 item-1 item-2 item-6"
        "item-3 item-4 item-5 item-6";
    width: 170px;
}

.item0 {
    grid-area: item-0;
}

.item1 {
    grid-area: item-1;
}

.item2 {
    grid-area: item-2;
}

.item3 {
    grid-area: item-3;
}

.item4 {
    grid-area: item-4;
}

.item5 {
    grid-area: item-5;
}

.item6 {
    grid-area: item-6;
}


.summ1000 {
    grid-area: item-0;
}

.summ1001 {
    grid-area: item-1;
}

.summ1002 {
    grid-area: item-2;
}

.summ1003 {
    grid-area: item-3;
}

.summ1004 {
    grid-area: item-4;
}

.summ2005 {
    grid-area: item-5;
}

.summ2006 {
    grid-area: item-6;
}

.summ2007 {
    grid-area: item-7;
}

.summ2008 {
    grid-area: item-8;
}

.summ2009 {
    grid-area: item-9;
}

.summ100TOP {
    grid-area: item-0;
}

.summ100JUNGLE {
    grid-area: item-1;
}

.summ100MIDDLE {
    grid-area: item-2;
}

.summ100BOTTOM {
    grid-area: item-3;
}

.summ100UTILITY {
    grid-area: item-4;
}

.summ200TOP {
    grid-area: item-5;
}

.summ200JUNGLE {
    grid-area: item-6;
}

.summ200MIDDLE {
    grid-area: item-7;
}

.summ200BOTTOM {
    grid-area: item-8;
}

.summ200UTILITY {
    grid-area: item-9;
}

.vsIcon {
    grid-area: vsIcon;
}

.topIcon {
    grid-area: toplane;
}

.jungleIcon {
    grid-area: jungle;
}

.midIcon {
    grid-area: midlane;
}

.botIcon {
    grid-area: botlane;
}

.supIcon {
    grid-area: support;
}