header {
    background-color: #140e30;
    width: 100%;
    position: fixed;
    top: 0; 
    left: 0;
    z-index: 100;
}

.nav {
    display: flex;
  justify-content: space-between;
  align-items: center; 
  padding: 5px 20px; 
}

.logo {
  margin-left: 20px;
  font-family: Arvo;
  font-weight: 700;
  font-style: normal;
}


.logo:hover {
  cursor: pointer;
}