.liveGame {
    width: 95%;
    max-width: 1100px;
    margin-top: 10px;
    margin-bottom: 10px;
}


.liveGameInfo {
    background-color: #2c274f;
    border-radius: 4px;
    width: 100%;
}

.gameType {
    text-align: left;
    padding-top: 6px;
    padding-bottom: 6px;
    font-size: 17px;
    font-weight: 700;
    line-height: 17px;
    white-space: nowrap;
}

.liveGameInfo .row-header{
    display: grid;
    grid-template-columns: 25% 14% 14% 14% 15%  7% 15%;
    padding: 18px 12px 8px;
    color: #cddcfe;
    font-size: 12px;
    font-weight: 400;
    text-align: center;
    background-color: #1a1836;
}

.liveGameInfo .runesDisplay{
    display: grid;
    grid-template-columns: 15% 15% 15%;
    color: #cddcfe;
    font-size: 12px;
    font-weight: 400;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: #1a1836;
}

.liveGameInfo .runesDisplay{
    display: flex;
    padding-top: 5px;
    padding-bottom: 5px;
}

.divider {
    width: 1px;
    height: 172px;
    background: #2c274f;
    margin: 0px 8px;
}


.primary div ,.secondary div, .runeStats div{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 2px;
}



.info {
    font-size: 15px;
    font-weight: 500;
    line-height: 17px;
    white-space: nowrap;
}

.liveParticipant .info{
    padding: 10px;
    display: grid;
    list-style: none;
    gap: 10px;
    width: 100%;
    grid-template-columns: 25% 28% 28% 10% 10%  !important;

    align-items: center;
    justify-content: center;

  
}

.liveParticipant .info .summoner{
    padding-left: 10%;
}

.liveParticipant.team1 {
    background-color: #212653;
} 

.liveParticipant.team2 {
    background-color: #2f1f38;
} 

.row-header.team1 > div:first-child {
    color: #3273fa;
}

.row-header.team2 > div:first-child {
    color: #ff4e50;
}



.winRate {
    margin-bottom: 2px;
}

.summonerRankedInfo {
    display: flex;
}


.summonerRankedInfo {
    padding: 10px;
    display: grid;
    list-style: none;
    gap: 10px;
    width: 100%;
    grid-template-columns: 50% 50%  !important;

    justify-items: center;
    align-items: center;
    justify-content: center;
}