.notEarned {
    filter: brightness(0%) opacity(15%);
    -webkit-filter: brightness(1%) opacity(15%);
}

.kAfkVG div:first-child{
    width: 100%;
}

.rdt_TableHeadRow {
    justify-content: center;
}

.rdt_TableHeadRow div{
    justify-content: center;
}

.masteryChampList {
    width: 95%;
    max-width: 1100px;
    
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 50px;

    
}

.liveGameInfo {
    padding-bottom: 10px;
}

.my-custom-table div{
    border-radius: 4px ;
    background-color: #2c274f; /* Estilo del fondo */
    color: #dbdbdb; /* Color del texto */
    font-family: 'Roboto', sans-serif; /* Fuente Roboto */
    font-size: 14px; /* Tamaño de fuente */
    font-size: 17px;
    font-weight: 500;
    line-height: 17px;
    white-space: nowrap;
  }